.footer {
  background-color: rgb(153, 153, 153);
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0;
}

.footer-titre {
  color: black;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.div-titre-footer {
  margin-left: 11.7vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30vw;
}

.info-contact {
  display: flex;
  flex-direction: column;
  border-left: 3px solid black;
  border-right: solid 3px black;
  padding-left: 4vw;
  padding-top: 2.6vh;
  padding-right: 4vw;
  color: black;
  font-size: 16px;
}

#google-map {
  color: black;
  text-decoration: none;
}

#google-map:hover {
  color: rgb(40, 104, 224);
  text-decoration: underline;
}

.style-label-contact {
  text-decoration: underline;
}

.réseaux-footer {
  border-left: solid 3px black;
  border-right: solid 3px black;
  margin-right: 14vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 3.5vh;
}

.instagram-twitter {
  margin-left: 2.5vw;
  padding-top: 2.5vh;
}

.instagram-twitter > div > img {
  width: 2vw;
}

.link-facebook {
  padding-top: 2.5vh;
  margin-left: 6vw;
  margin-right: 2.5vw;
}

.link-facebook > div > img {
  width: 40px;
}
.instagram > a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  margin-left: 10px;
}

.instagram > img {
  display: inline-block;
  vertical-align: middle;
}
.twitter > a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  margin-left: 10px;
}

.twitter > img {
  display: inline-block;
  vertical-align: middle;
}
.facebook > a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  margin-left: 10px;
}

.facebook > img {
  display: inline-block;
  vertical-align: middle;
}
.linkedin > a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  margin-left: 10px;
}

.linkedin > img {
  display: inline-block;
  vertical-align: middle;
}

#logo-footer {
  width: 7vw;
  margin-bottom: 2vh;
  margin-left: 4.8vw;
}

.div-milieu {
  display: flex;
  flex-direction: column;
  text-align: center;
}
