body {
  margin: 0;
  background-color: white;
  overflow-x: hidden;
}

.form {
}

.div-form {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  background-color: #1f1f1f;
  width: 40vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8vh;
  border-radius: 18px;
  margin-bottom: 20vh;
}

.input-form {
  height: 3.5vh;
  width: 15vw;
  margin-bottom: 3vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  padding-left: 0.5vw;
}

.div-label-reservation {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-top: 10vh;
}

.label-reservation {
  color: black;
  font-size: 55px;
  font-family: "Bebas Neue", cursive;
}

#message {
  height: 15vh;
}

#label-message {
  margin-left: 12.5vw;
  font-size: 13px;
  color: white;
}

#checkbox-p {
  color: white;
  font-size: 10px;
  margin-left: 1vw;
}

.div-checkbox {
  display: flex;
  align-items: center;
  padding-left: 1vw;
  margin-bottom: 5vh;
}

#button-form {
  height: 8vh;
  margin-bottom: 6vh;
  border-radius: 10px;
  background-color: white;
  color: black;
}

#button-form:hover {
  margin-bottom: 6vh;
  border-radius: 10px;
  background-color: #747272;
  color: white;
}
